# ~/project/ansible.cfg
[defaults]
inventory        = inventory/hosts.ini
remote_user      = user1
private_key_file = ~/.ssh/project.pem
host_key_checking = False
stdout_callback  = yaml
roles_path       = /home/user1/project/roles

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False
